.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(20px);
    background-color: rgba(237, 237, 237, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.navbar .logo {
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 600;
    color: #333;
}

.navbar .logo span {
    color: #ff6363;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li {
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
    font-weight: 400;
    color: #333;
}

.nav-links li:hover {
    color: #ff6363;
    transform: translateY(-2px);
}