/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove background color from body */
body {
  font-family: 'Inter', sans-serif;
}

/* Ensure html and body have no margins */
html, body {
  margin: 0;
  padding: 0;
}

/* Search Page Styles */
.search-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Search Section Styles */
.search-section {
  background: linear-gradient(to bottom right, #ff9a9e 0%, #fad0c4 70%, #f0f2f5 100%);
  padding: 8rem 0 5rem;
  text-align: center;
  color: #333;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  box-shadow: #c5c5c5 0px 0px 32px;
}

/* Adjust the h1 inside the search section if needed */
.search-section h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

/* Chips container */
.chips-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.chip {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: #e0e0e0;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.chip.selected {
  background-color: #ff6363;
  color: #fff;
  box-shadow: #00000020 0px 5px 8px;
  transform: translate(0px, -5px);
  /* make background of chip a gradient */
  /* background: linear-gradient(145deg, #ff6363, #ff7363); */

  /* make background animated gradient where the direction of gradient changes */
  background: linear-gradient(145deg, #ff6363, #ff7863);
  background-size: 200% 200%;
  animation: gradientAnimation 3s linear infinite; 


}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
    transform: rotate(0deg);
  }
  25% {
    background-position: 50% 50%;
    transform: rotate(1deg);
  }
  50% {
    background-position: 100% 50%;
    transform: rotate(0deg);
  }
  75% {
    background-position: 50% 50%;
    transform: rotate(-1deg);
  }
  100% {
    background-position: 0% 50%;
    transform: rotate(0deg);
  }
}


.chip:hover {
  background-color: #d5d5d5;
}

.chip:hover.selected {
  background-color: #e94e4e;
}

.mode-warning {
  color: #ff6363;
  font-size: 1rem;
  margin-top: 1rem;
}

/* Search input container */
.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

.search-input-container input[type='text'] {
  flex: 1;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 50px 0 0 50px;
  border: none;
  outline: none;
  margin-top: 1rem;
}

.search-input-container button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #ff6363;
  border: none;
  border-radius: 0 50px 50px 0;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.search-input-container button:hover {
  background-color: #e94e4e;
}

.search-input-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Results Section */
.results-section {
  flex: 1;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .results-section {
    padding: 2rem 2rem;
  }
}

.no-results {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}

/* Results Grid */
.results-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Adjust for medium screens */
@media (max-width: 992px) {
  .results-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Adjust for small screens */
@media (max-width: 600px) {
  .results-grid {
    grid-template-columns: 1fr;
  }
}

/* Spinner Styles */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}